@model CHHC.Web.Models.ViewPatient
@{
    ViewBag.Title = "Edit patient '" + Model.Name + "'";
}

<div class="container page page-title-background mychhc">    
    <h2 class="page-title">@Html.Raw(CHHC.Web.ViewHelper.PrepareTitle(ViewBag.Title))</h2>
    <div class="container page-content">
        <div class="row">
            <div class="col-md-10">
                @Html.Partial("_MessagePartial")
                @using (Html.BeginForm("Edit", "Patients", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @Html.HiddenFor(x => x.Id)
				    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
				    </div>
				    <div class="form-group">
                        @Html.LabelFor(m => m.InnerChhcId, "Pt #", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.InnerChhcId, new { @class = "form-control", @placeholder = "Pt #" })
				    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Save</button>
                    @Html.ActionLink("Back", "All", "Patients", new { @class = "btn btn-default" })
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}