@model CHHC.Web.Models.LocalPasswordModel

@using (Html.BeginForm("ChangePassword"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.UserName)
				    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class="control-label" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class="form-control", @placeholder="Old Password" })
				    </div>
				    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class="control-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class="form-control", @placeholder="New Password" })
				    </div>
				    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class="control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class="form-control", @placeholder="Confirm Password" })
				    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Save</button>
                    @Html.ActionLink("Back", "Users", null, new { @class="btn btn-default" })
}
