@model CHHC.Web.Models.RegisterModel
@{
    ViewBag.Title = "Create user";
}

<div class="container page page-title-background mychhc">    
    <h2 class="page-title">@Html.Raw(CHHC.Web.ViewHelper.PrepareTitle(ViewBag.Title))</h2>
    <div class="container page-content">
        <div class="row">
            <div class="col-md-6">
                @Html.Partial("_MessagePartial")
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
				    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class="control-label" })
                        @Html.TextBoxFor(m => m.UserName, new { @class="form-control", @placeholder="User name" })
				    </div>
				    <div class="form-group">
                        @Html.LabelFor(m => m.FullName, new { @class="control-label" })
                        @Html.TextBoxFor(m => m.FullName, new { @class="form-control", @placeholder="Full name" })
				    </div>
				    <div class="form-group">
                        @Html.LabelFor(m => m.InnerChhcId, new { @class="control-label" })
                        @Html.TextBoxFor(m => m.InnerChhcId, new { @class="form-control", @placeholder="ID" })
				    </div>
				    <div class="form-group">
                        @Html.LabelFor(m => m.Title, new { @class="control-label" })
                        @Html.TextBoxFor(m => m.Title, new { @class="form-control", @placeholder="Title" })
				    </div>
				    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class="control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @type = "email", @class="form-control", @placeholder="Email" })
				    </div>
				    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { @class="control-label" })
                        @Html.TextBoxFor(m => m.Phone, new { @type = "tel", @class="form-control", @placeholder="Phone" })
				    </div>
				    <div class="form-group">
                        @Html.LabelFor(m => m.Notes, new { @class="control-label" })
                        @Html.TextAreaFor(m => m.Notes, 5, 30, new { @class="form-control", @placeholder="Notes" })
				    </div>
				    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class="control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class="form-control", @placeholder="Password" })
				    </div>
				    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class="control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class="form-control", @placeholder="Confirm Password" })
				    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Create</button>
                    @Html.ActionLink("Back", "Users", null, new { @class="btn btn-default" })
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
