@model CHHC.Web.Models.UserRoles
@{
    ViewBag.Title = "User '" + @Model.UserName + "' > Roles";
}

<div class="container page page-title-background mychhc">    
    <h2 class="page-title">@Html.Raw(CHHC.Web.ViewHelper.PrepareTitle(ViewBag.Title))</h2>
    <div class="container page-content">
        <div class="row">
            <div class="col-md-6">
                @Html.Partial("_MessagePartial")
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @Html.HiddenFor(m => m.UserName)
                    foreach (string role in Model.AllRoles)
                    {
				        <div class="form-group">
                            <input id="roles" name="roles" type="checkbox" value="@role" @((Model.Roles.Contains(role)) ? " checked='checked'" : string.Empty) />
                            @CHHC.Web.ViewHelper.GetRoleFriendlyName(role)
				        </div>
                    }
                    <br />
                    <button type="submit" class="btn btn-primary">Save</button>
                    @Html.ActionLink("Back", "Users", null, new { @class="btn btn-default" })
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}