@model CHHC.Web.Models.JobModels.ViewJobApplication
@{
    ViewBag.Title = "Central Home Health Care - Job";
    ViewBag.Description = "Central Home Health Care is an Equal Opportunity Employer which provides employment to all those who qualify";
    ViewBag.Keywords = "Home Health Care";
}
@section Head
{
    @Styles.Render("~/Content/themes/base/css")
}

<div class="container page page-title-background job">    
    <h2 class="page-title">Job</h2>
    <div class="container page-content">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="row columns">
                <div class="col-sm-12">
                    <h4 style="color:#ff0000">@Model.ErrorMessage</h4>
                </div>
            </div>
        }
        <div class="row columns">
            <div class="col-sm-12">
                <p>We are currently hiring for next positions: Visiting Nurses, Physical Therapists, Home Health Aides, Occupational Therapists, Speech Therapists
                <p>Central Home Health Care is an Equal Opportunity Employer which provides employment to all those who qualify regardless of race, color, creed, religion, sex, nationality, age, marital or handicap status.</p>
            </div>
        </div>
        <br />
        <div class="row columns last-row">
            <div class="col-sm-12">
                @using (Html.BeginForm("JobSubmit", "Home", FormMethod.Post, new { id = "apply-form" }))
                {
                    <div id="apply-wizard">
                        <h3>Personal Info</h3>
                        <section>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.ApplicantFirstName, new { @class = "control-label" }) *
                                        @Html.TextBoxFor(x => x.ApplicantFirstName, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.ApplicantLastName, new { @class = "control-label" }) *
                                        @Html.TextBoxFor(x => x.ApplicantLastName, new { @class = "form-control required" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.HowDidYouHear, new { @class = "control-label" })
                                        @Html.DropDownListFor(
                                            x => x.HowDidYouHear,
                                            new List<SelectListItem>() {
                                                new SelectListItem { Text = "Newspaper", Value = "1" },
                                                new SelectListItem { Text = "Referral", Value = "2" },
                                                new SelectListItem { Text = "Walk-in", Value = "3" },
                                                new SelectListItem { Text = "Agency", Value = "4" },
                                                new SelectListItem { Text = "Friend", Value = "5" },
                                                new SelectListItem { Text = "Other", Value = "6" }
                                            },
                                            new { @class = "form-control" })
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.HowDidYouHearOther, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.HowDidYouHearOther, new { @class = "form-control" })
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.Position, new { @class = "control-label" }) *
                                        @Html.TextBoxFor(x => x.Position, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.PositionType, new { @class = "control-label" })
                                        @Html.DropDownListFor(
                                            x => x.HowDidYouHear,
                                            new List<SelectListItem>() {
                                                new SelectListItem { Text = "Full Time", Value = "1" },
                                                new SelectListItem { Text = "Part Time", Value = "2" },
                                                new SelectListItem { Text = "Per Diem", Value = "3" },
                                                new SelectListItem { Text = "Temporary", Value = "4" }
                                            },
                                            new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.StreetAddress, new { @class = "control-label" }) *
                                        @Html.TextBoxFor(x => x.StreetAddress, new { @class = "form-control required" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.City, new { @class = "control-label" }) *
                                        @Html.TextBoxFor(x => x.City, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.State, new { @class = "control-label" }) *
                                        @Html.TextBoxFor(x => x.State, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.Zip, new { @class = "control-label" }) *
                                        @Html.TextBoxFor(x => x.Zip, new { @class = "form-control required" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.PhoneHome, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.PhoneHome, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.PhoneCell, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.PhoneCell, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.Email, new { @class = "control-label" }) *
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control required" })
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h3>Education / Experience</h3>
                        <section>
                            @for (var i = 0; i < Model.Educations.Count; i++)
                            {
                                @Html.EditorFor(x => x.Educations[i], "_JobEducation")
                            }
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.SpecialEducation, new { @class = "control-label" })
                                        @Html.TextAreaFor(x => x.SpecialEducation, 3, 20, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom:40px">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("License", "Clinical Registration/License", new { @class = "control-label" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.ClinicalLicenseType, new { @class = "control-label" }) *
                                        @Html.TextBoxFor(x => x.ClinicalLicenseType, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.ClinicalLicenseNumber, new { @class = "control-label" }) *
                                        @Html.TextBoxFor(x => x.ClinicalLicenseNumber, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.ClinicalLicenseState, new { @class = "control-label" }) *
                                        @Html.TextBoxFor(x => x.ClinicalLicenseState, new { @class = "form-control required" })
                                    </div>
                                </div>
                            </div>
                            @for (var i = 0; i < Model.Works.Count; i++)
                            {
                                @Html.EditorFor(x => x.Works[i], "_JobExperience")
                            }
                        </section>
                        <h3>Eligibility</h3>
                        <section>
                            @Html.CheckBoxFor(m => m.Authorized)
                            @Html.LabelFor(m => m.Authorized, new { @class = "control-label" })
                            <br />

                            @Html.CheckBoxFor(m => m.Eligible)
                            @Html.LabelFor(m => m.Eligible, new { @class = "control-label" })
                            <br />

                            @Html.CheckBoxFor(m => m.EmployedBefore)
                            @Html.LabelFor(m => m.EmployedBefore, new { @class = "control-label" })
                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.EmployedBeforePosition, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.EmployedBeforePosition, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.WhenAvailableToBegin, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.WhenAvailableToBegin, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            @Html.CheckBoxFor(m => m.EverDischarged)
                            @Html.LabelFor(m => m.EverDischarged, new { @class = "control-label" })
                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.EverDischargedExplanation, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.EverDischargedExplanation, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <i>(All offers of employment are conditional upon the satisfactory completion of a criminal background screening and driving records check)</i><br /><br />

                            @Html.CheckBoxFor(m => m.EverHadStipulations)
                            @Html.LabelFor(m => m.EverHadStipulations, new { @class = "control-label" })
                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.EverHadStipulationsExplanation, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.EverHadStipulationsExplanation, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            @Html.CheckBoxFor(m => m.EverSanctioned)
                            @Html.LabelFor(m => m.EverSanctioned, new { @class = "control-label" })
                            <br />

                            @Html.CheckBoxFor(m => m.RelatedToBoard)
                            @Html.LabelFor(m => m.RelatedToBoard, new { @class = "control-label" })
                            <br />

                            @Html.CheckBoxFor(m => m.MayWeContactPresentEmployer)
                            @Html.LabelFor(m => m.MayWeContactPresentEmployer, new { @class = "control-label" })
                            <br />

                            @Html.CheckBoxFor(m => m.MayWeContactPreviousEmployer)
                            @Html.LabelFor(m => m.MayWeContactPreviousEmployer, new { @class = "control-label" })
                            <br />
                        </section>
                        <h3>Confirmation</h3>
                        <section>
                            <h4>Applicant's statement</h4>
                            @Html.CheckBox("Understand", new { @class = "required", style = "float:left;margin-right:10px" })<p>I understand and agree that any misrepresentation by me in this application will be sufficient cause for cancellation of this application and/or separation from the employer’s service if I have been employed. Furthermore, I understand that just as I am free to resign at any time, the employer reserves the right to terminate my employment at any time, with or without cause, and without prior notice. I understand that no representative of the employer has the authority to make assurances to the contrary.</p>
                            @Html.CheckBox("GiveRights", new { @class = "required", style = "float:left;margin-right:10px" })<p>I give the employer the right to investigate all references and to secure additional information about me, if job related. I hereby release from liability the employer and its representatives for seeking such information, and all other persons, corporations, or organizations for furnishing such information.</p>

                            <div class="row" style="padding-bottom:40px">
                                <div class="col-md-3">
                                    <div class="form-group datepicket-holder">
                                        @Html.LabelFor(x => x.DateFilledAndAgreed, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.DateFilledAndAgreed, new { @class = "form-control datepicker required", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                }
            </div>
        </div>
	</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        
        $(function ()
        {
            var form = $("#apply-form");

            form.validate({
                errorPlacement: function errorPlacement(error, element) { element.before(error); },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

            $("#apply-wizard").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                autoFocus: true,
                onStepChanging: function (event, currentIndex, newIndex) {
                    if (currentIndex < newIndex) {
                        form.validate().settings.ignore = ":disabled,:hidden";
                        return form.valid();
                    } else 
                    {
                        return true;
                    }
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    resizeJquerySteps();
                },
                onFinishing: function (event, currentIndex) {
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    form.submit();
                }
            });

            resizeJquerySteps();

            $('.datepicker').datepicker({
                showOn: "both",
                buttonImage: "/img/content/calendar-icon-small.png",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true,
                yearRange: "-40:+0",
            });
        });

        function resizeJquerySteps() {
            $('.wizard .content').animate({ height: $('.body.current').outerHeight() }, "slow");
        }

    </script>
}